<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirGd4UDCy7bOLnBi.5nPw.RQb1tHE" Name="net6.0-windows">
                <Component Id="cmp1hr3Ri_NSV3z4HQ0ZiyuMcHPvNs" Guid="*">
                    <File Id="filbHWcbpghgBCsj6w5Z19dt4RlAt8" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\AgeCalculator.dll" />
                </Component>
                <Component Id="cmpZxck9BvEc2Cbwg4wZMr7_pjVvh0" Guid="*">
                    <File Id="filRlnPyVdkgecT3pRnXfzyYEFcsx8" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\ExcelDataReader.dll" />
                </Component>
                <Component Id="cmpidrS3f3Eo2TX8A7YX4EaPHveZCA" Guid="*">
                    <File Id="filRMzHlVacKKjm08kBpfBbs0tkBN0" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.deps.json" />
                </Component>
                <Component Id="cmpUPSY0tEJRKwXi_cSPLZHhb..C_k" Guid="*">
                    <File Id="filUtL9Nw4VNj0UnPf3QUDJA9TOPao" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.dll" />
                </Component>
                <Component Id="cmpaLvaxtsEUNztmY.q3OAGUOfM7Ks" Guid="*">
                    <File Id="filmr6fRASv1YUaWG9Ss6kAHJtnWbI" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.exe" />
                </Component>
                <Component Id="cmpqZyHeYvNvJbJO1nU8sYYCbWQH6o" Guid="*">
                    <File Id="fil1gILS9iLyjYhKlpUx5qp3nuQJsc" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.pdb" />
                </Component>
                <Component Id="cmp.yjlWj2flYjwi6WlbqB5HmX9QpU" Guid="*">
                    <File Id="filOeGMvHEGB3_OaP1JNRxCOCUeBDk" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.runtimeconfig.json" />
                </Component>
                <Component Id="cmpejasy6lHOi5TjPMCeuDK3CpPlZg" Guid="*">
                    <File Id="filA6pOYOh2sh7f6fcglTVZot_7MaA" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\GCPVConfig.yaml" />
                </Component>
                <Component Id="cmpjIU0TLEx_7HCR2Ppay86jNOoYlc" Guid="*">
                    <File Id="filNFmc9IlD67ALxsI.YSK1MmxeHU4" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\ICSharpCode.AvalonEdit.dll" />
                </Component>
                <Component Id="cmpmd7cRaYSDeWBOxDnmD4CVGzfAyg" Guid="*">
                    <File Id="filGOqwOSkX_gL3aXuxuAeuDcud_.8" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\MdXaml.dll" />
                </Component>
                <Component Id="cmpaenNBddgMmhRJkUlA1KPgKgsA4U" Guid="*">
                    <File Id="filHSrWIDIsQpnUfI3CPJuylYKjCT0" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\MdXaml.Plugins.dll" />
                </Component>
                <Component Id="cmpARoE2Xy70T1nyENptIeGBPcF0Yk" Guid="*">
                    <File Id="filjJm34MXpm77F83DabbttpjJsYTk" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\Microsoft.Win32.SystemEvents.dll" />
                </Component>
                <Component Id="cmpQVm.x6WT.4N4YViaOeiJfi7_WaA" Guid="*">
                    <File Id="filVk.4QXeP3eS8GSlJPXCxpPLAl1M" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Configuration.ConfigurationManager.dll" />
                </Component>
                <Component Id="cmp2jwVJw3TFWkFYbxLDnkSSfutw5g" Guid="*">
                    <File Id="fil4rbffKPyLwNCXt1ynTyuqLV7EZw" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Data.OleDb.dll" />
                </Component>
                <Component Id="cmp9rc.oydTwTYu5nQYE9V6GZMQgGw" Guid="*">
                    <File Id="filniSVaHzQU5BUzo5PRMd4kXUtk5w" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Diagnostics.PerformanceCounter.dll" />
                </Component>
                <Component Id="cmpatTcLTGjPQ8I191AaX9FgDyYu2I" Guid="*">
                    <File Id="filUNChYfYiKb7wDfqTkvb.UDM4ZQM" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Drawing.Common.dll" />
                </Component>
                <Component Id="cmpy1D6FKVU58DD3aSEXaUi40QwfAo" Guid="*">
                    <File Id="filzGmQ_uYtt8Ko6Cy0sCDBkSUowjs" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Security.Cryptography.ProtectedData.dll" />
                </Component>
                <Component Id="cmperT6oMRTfZVB2EWx.aGMvp.5VG0" Guid="*">
                    <File Id="filMrZIIv_ejhY7hauPTdAZi2_bgvU" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Security.Permissions.dll" />
                </Component>
                <Component Id="cmpAEzNMm9p2gLkE8Rdam.8h.0seQ4" Guid="*">
                    <File Id="fildoR4lSmEJ4Ip9Y0pgy_O7hOgyhw" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Text.Encoding.CodePages.dll" />
                </Component>
                <Component Id="cmpADqQwIN.I5QrjTDU61sIPjvhReE" Guid="*">
                    <File Id="filDA0qLeOWE7GzuN4fKbZmZ6mdPzc" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\System.Windows.Extensions.dll" />
                </Component>
                <Component Id="cmpZ9ujuFUhfiyISiJeRRyp0.9UTlY" Guid="*">
                    <File Id="fillyNYMTPjh45h5VErEoOf6ETtxQM" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\YamlDotNet.dll" />
                </Component>
                <Directory Id="dirqB7UJK50sOTvs4y2YQgdiSl20Qw" Name="runtimes">
                    <Directory Id="dirOIs9SJoPi45tJxwze10qJiz4Y2A" Name="win">
                        <Directory Id="dirsPIwVqm3J4uAcR9FTFDwJj6Y4vQ" Name="lib">
                            <Directory Id="dirIKh8m2I7jIQnwGhUkkMXboDNc2s" Name="net6.0">
                                <Component Id="cmpesc6wlCW3LjYL2kX1rFRIJyEbJs" Guid="*">
                                    <File Id="filgGzZxc331nJMgifc0DQREJVbLVs" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\Microsoft.Win32.SystemEvents.dll" />
                                </Component>
                                <Component Id="cmpSKsSs08J4yH7LORVkPoTiRp.jrs" Guid="*">
                                    <File Id="fili6yue9hfknPkJahNcHaXTeN7VPU" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Data.OleDb.dll" />
                                </Component>
                                <Component Id="cmpotTqPvh2dfj2LA9oCH7Gx8BEto4" Guid="*">
                                    <File Id="filfejsKAzDkPpOQ0LdNBkOoi8wZ_w" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Diagnostics.PerformanceCounter.dll" />
                                </Component>
                                <Component Id="cmpDA5Uq9iPR4XmqPav2JIiSzQluNM" Guid="*">
                                    <File Id="filVy8WGeQXOmawJxkYQCLhF1.amcQ" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Drawing.Common.dll" />
                                </Component>
                                <Component Id="cmpr9pKnSJfsZayG8Es3JkFOZUzj5w" Guid="*">
                                    <File Id="filAMx6yNun4jahN.7aA1jek5x3ZMk" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Security.Cryptography.ProtectedData.dll" />
                                </Component>
                                <Component Id="cmp3RNLnt6h3_4THEVBfzdCu6VtYz4" Guid="*">
                                    <File Id="filUNR5YlwIy3QwFmN5rX5_W9dOOfE" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Text.Encoding.CodePages.dll" />
                                </Component>
                                <Component Id="cmpp7RW0i0.L2egX1MtAF6gz9id3X8" Guid="*">
                                    <File Id="filOHy3HtYg1JiCaG73f6M4OltCKDI" KeyPath="yes" Source="$(var.HarvestPath)\net6.0-windows\runtimes\win\lib\net6.0\System.Windows.Extensions.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp1hr3Ri_NSV3z4HQ0ZiyuMcHPvNs" />
            <ComponentRef Id="cmpZxck9BvEc2Cbwg4wZMr7_pjVvh0" />
            <ComponentRef Id="cmpidrS3f3Eo2TX8A7YX4EaPHveZCA" />
            <ComponentRef Id="cmpUPSY0tEJRKwXi_cSPLZHhb..C_k" />
            <ComponentRef Id="cmpaLvaxtsEUNztmY.q3OAGUOfM7Ks" />
            <ComponentRef Id="cmpqZyHeYvNvJbJO1nU8sYYCbWQH6o" />
            <ComponentRef Id="cmp.yjlWj2flYjwi6WlbqB5HmX9QpU" />
            <ComponentRef Id="cmpejasy6lHOi5TjPMCeuDK3CpPlZg" />
            <ComponentRef Id="cmpjIU0TLEx_7HCR2Ppay86jNOoYlc" />
            <ComponentRef Id="cmpmd7cRaYSDeWBOxDnmD4CVGzfAyg" />
            <ComponentRef Id="cmpaenNBddgMmhRJkUlA1KPgKgsA4U" />
            <ComponentRef Id="cmpARoE2Xy70T1nyENptIeGBPcF0Yk" />
            <ComponentRef Id="cmpQVm.x6WT.4N4YViaOeiJfi7_WaA" />
            <ComponentRef Id="cmp2jwVJw3TFWkFYbxLDnkSSfutw5g" />
            <ComponentRef Id="cmp9rc.oydTwTYu5nQYE9V6GZMQgGw" />
            <ComponentRef Id="cmpatTcLTGjPQ8I191AaX9FgDyYu2I" />
            <ComponentRef Id="cmpy1D6FKVU58DD3aSEXaUi40QwfAo" />
            <ComponentRef Id="cmperT6oMRTfZVB2EWx.aGMvp.5VG0" />
            <ComponentRef Id="cmpAEzNMm9p2gLkE8Rdam.8h.0seQ4" />
            <ComponentRef Id="cmpADqQwIN.I5QrjTDU61sIPjvhReE" />
            <ComponentRef Id="cmpZ9ujuFUhfiyISiJeRRyp0.9UTlY" />
            <ComponentRef Id="cmpesc6wlCW3LjYL2kX1rFRIJyEbJs" />
            <ComponentRef Id="cmpSKsSs08J4yH7LORVkPoTiRp.jrs" />
            <ComponentRef Id="cmpotTqPvh2dfj2LA9oCH7Gx8BEto4" />
            <ComponentRef Id="cmpDA5Uq9iPR4XmqPav2JIiSzQluNM" />
            <ComponentRef Id="cmpr9pKnSJfsZayG8Es3JkFOZUzj5w" />
            <ComponentRef Id="cmp3RNLnt6h3_4THEVBfzdCu6VtYz4" />
            <ComponentRef Id="cmpp7RW0i0.L2egX1MtAF6gz9id3X8" />
        </ComponentGroup>
    </Fragment>
</Wix>